<section>
 <div class="container p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">1</th>
                <td><img style="width:70px ; height :70px;" src="/images/product-images/{{this._id}}.jpg" alt="" srcset=""></td>
                <td>{{this.name}}</td>
                <td> <button class="mr-3">-</button> 1 <button class="ml-3">+</button> </td>
                <td> <a href="" class="btn btn-danger">Remove</a> </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
 </div>
</section>